{% extends "base.html" %}

{% block main_content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <img  class="img-fluid" src="{{ url_for('static', filename='images/nomadvwizard.png') }}"/>
        <h1 class="section-heading">
                    What is Martial Mayhem?
        </h1>
        <p>
            Martial Mayhem is an exciting and action-packed fighter style game that was developed by a team of 5 talented students from University College Cork (UCC). With its dynamic gameplay and stunning graphics, this game is sure to keep players engaged for hours on end.
        </p>
        <p>
            The game features three unique maps that offer a variety of challenging terrain for players to navigate. These maps include a cliffside battleground, a rugged mountain pass, and a sacred church courtyard. Each map has its own set of obstacles and hazards that players must overcome in order to emerge victorious.
        </p>
        <p>
            Players can choose from three different characters, each with their own distinct abilities and fighting styles. The warrior is a fearless fighter who relies on brute strength and raw power to defeat his opponents. The wizard is a cunning spellcaster who can unleash devastating magical attacks on his enemies. The native American nomad is a skilled hunter and tracker who uses his stealth and agility to gain the upper hand in combat.
        </p>
        <p>
            Whether you prefer to engage in fast-paced, one-on-one battles or just like taking a good beating, Martial Mayhem has something for everyone. With its intuitive controls and immersive gameplay, this game is perfect for both casual players and serious gamers alike. So grab your keyboard and get ready to experience the thrill of battle in Martial Mayhem!
        </p>
    </div>
</div>


{% endblock %}