{% extends "base.html" %}

{% block main_content %}



<img  class="title" src="../images/MM.png"/>
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
           <iframe frameborder="0" src="https://itch.io/embed-upload/7438798?color=333333" allowfullscreen="" width="640" height="380"><a href="https://dylanomahony.itch.io/martial-mayhem">Play Martial Mayhem</a></iframe>
    <p>
        Welcome to Martial Mayhem, the ultimate fighting game! To get started, simply wait for the game to load, and then click on the screen to access the main menu. From there, you can select either the single player or local player modes, which are both available directly in your browser. However, if you're looking for the full multiplayer experience, you'll need to download the game. So what are you waiting for? Get ready to unleash your fighting skills and conquer the competition!
    </p>
    </div>

</div>

{% endblock %}