{% extends "base.html" %}
{% block title %}{% endblock %}
{% block login_status %}
{{status}}
{% endblock %}
{% block main_content %}
    <!--  wrote random stuff to see how things looked  -->
    <section id="home">
        <h1>Welcome to Martial Mayhem, the online multiplayer fighting game made with pygame.</h1>
        <img src="../images/nomadvwizard"/>
    </section>
    <article>
        <h1>
            Gettiing Started.
        </h1>
        <h3>
            There are two ways to play!!
        </h3>
        <ul>
            <li>
                Single player and local player are available from this website in the browser
            </li>
            <li>
                All game modes including multiplayer are available through the download link on this website or the project github
            </li>
        </ul>
        <p>

        </p>
    </article>


{% endblock %}