{% extends "base.html" %}
{% block title %}{% endblock %}
{% block login_status %}
{{status}}
{% endblock %}
{% block main_content %}
    <!--  wrote random stuff to see how things looked  -->
    <article id="home">
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
        <h1>Welcome to our game</h1>
        <p>this is our game it is a nice game and we had fun making it</p>
    </article>


{% endblock %}