{% extends "base.html" %}

{% block main_content %}



    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <h1 class="section-heading" style="text-align: center;">Welcome to Martial Mayhem, the online multiplayer fighting game made with pygame</h1>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                        <iframe width="854" height="480" allow="fullscreen;" style="max-width:70%;"
                        src="https://www.youtube.com/embed/H3U_UHEEuwE?controls=0">
                        </iframe>

                </div>
                <h1 class="section-heading">
                    Getting Started.
                </h1>
                <p>&nbsp</p>
                <h3 class="post-subtitle">

                    There are two ways to play!!
                </h3>
                <ul>
                    <li>
                        1. Single player and local player are available from this website in the browser
                    </li>

                    <li>
                        2. All game modes including multiplayer are available through the download link on this website or the project github
                    </li>
                </ul>
                <p>&nbsp</p>
                <h3 class="post-subtitle">
                    Option 1: Playing on this website.
                </h3>
                <p>
                    All you have to do to begin playing the game in single player is click on the game link at the top of this page.
                    you will have two options available to you single player and local player where you and your friends can play on the same keyboard!!
                    But to play in multi-player you will have to download the game to do this follow the steps for option 2.
                </p>
                <p>&nbsp</p>
                <h3 class="post-subtitle">
                    Option 2: Download from this website or from our GitHub.
                </h3>
                <p>
                    You have two options for downloading Martial Mayhem. you can either download the game directly or download from our github.
                    To download directly or for more information about how to download from ut github click here<a href="{{  url_for('Download')   }}">Download</a>.<br>
                    Or Click the download link at the top of this page.


                </p>
                <p>&nbsp</p>
                <h3 class="section-heading">
                    How to play
                </h3>
                <ul>
                    <li>
                        - Select your Fighter and the map
                    </li>
                    <li>
                        - Win rounds by attacking the opponent until their health bar is depleted
                    </li>
                    <li>
                        - First fighter to win 3 rounds wins the game!
                    </li>
                </ul>
            <p>&nbsp</p>
                <h3 class="section-heading">
                    Game Modes
                </h3>
                <ul>
                    <li>
                        <img id="small" src="{{ url_for('static', filename='images/single.jpg') }}"/> Battle against the computer in an intense one on one match!
                    </li>
                    <li>
                       <img id="small" src="{{ url_for('static', filename='images/local.png') }}"/>  local Play your friend locally using the same keyboard!
                    </li>
                    <li>
                        <img id="small" src="{{ url_for('static', filename='images/multi.png') }}"/>  multiplayer Queue up for an intense match online!
                    </li>
                    <li>
                        We use a server provided by NetSoc, which can host up to 10 simultaneous games.
                    </li>
                </ul>
        </div>
    </article>

{% endblock %}