
{% extends "base.html" %}

{% block main_content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <img  class="img-fluid" src="{{ url_for('static', filename='images/nomadchar.png') }}"/>
        <h1 class="section-heading">
                    The Nomad
        </h1>
        <p>
            The Nomad is a fierce warrior, wielding a sword with deadly precision in close combat. Their years of training and discipline have honed their skills in martial arts, allowing them to move with grace and power in battle.
        </p>
        <p>
            But what sets this nomad apart is their unique ability to summon a tornado to strike down their enemies from afar. Drawing on their spiritual connection to the elements, they unleash a whirlwind that devastates anything in its path, leaving their opponents reeling and vulnerable to further attacks
        </p>
        <p>
            Despite their fearsome reputation in battle, this nomad remains deeply connected to their culture and traditions, holding fast to the values of community, respect, and balance with nature. They are a force to be reckoned with, but also a guardian and protector of their people and way of life.
        </p>

    </div>
</div>

{% endblock %}