
{% extends "base.html" %}

{% block main_content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <img  class="img-fluid" src="../images/wizardchar.png"/>
        <h1 class="section-heading">
                    The Wizard
        </h1>
        <p>
        The Wizard is a master of arcane magic, able to summon and control the very forces of nature. Their long-range spells are devastating to their enemies, striking them from afar with incredible speed and power.
        </p>
        <p>
        The first spell is a fast-moving bolt of lightning, crackling with energy and striking its target with incredible accuracy. The wizard can cast this spell quickly, allowing them to rain down a flurry of lightning bolts on their opponents and keep them off balance.
        </p>
        <p>
        The second spell is a much heavier and slower-moving blast of arcane energy, but its destructive power is unmatched. When the wizard unleashes this spell, it unleashes a massive wave of energy that obliterates everything in its path, leaving only destruction in its wake.
        </p>
        <p>
        Despite their formidable powers, the wizard remains a complex and mysterious character, with a deep knowledge of the secrets of the universe and the workings of magic. They are often seen as aloof and detached from the world, but their mastery of the arcane arts makes them a formidable ally in any battle.
        </p>

    </div>
</div>

{% endblock %}
